<section>
  <div class="navigation">
    <h3 class="mt-2 ml-2 p-3">Remote Fun</h3>
    <ul>
      <li class="nav-link"><%= link_to 'Dashboard', root_path %></li>
      <li class="nav-link">
        <%= link_to 'Logout', destroy_employee_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
  </div>
</section>