<section>
  <div class="navigation">
    <h1>Remote Fun</h1>
    <ul>
      <li><%= link_to 'Dashboard', root_path %></li>
      <li><%= link_to 'Challenges & Poll', root_path %></li>
      <li><%= link_to 'Winners', root_path %></li>
    </ul>

  </div>
</section>